body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-color: #42744b;
}

.maonkey {
    position: relative;
    top: 0px;
}

.triangle {
    width: 0;
	height: 0;
	border-left: 165px solid transparent;
	border-right: 165px solid transparent;
    border-bottom: 400px solid #222;
}

.btn {
    border-radius: 30px;
    border-color: #000;
    border: 1px solid;
    position: relative;
    top: 30px;
    margin-bottom: 30px;
    margin-top: -20px;
}

.navbar {
    padding: 0;
}

@media (max-width: 599px) {
    body {
        background-image: url(../img/background2.png)
    }
}

.view {
    margin-top: 27%;
}
