html {
    scroll-behavior: smooth;
}

.text-peta {
    font-family: 'Lexend Peta', sans-serif;
}

.p-next {
    margin-bottom: 15px;
}

.btn-large {
    font-size: 2em;
}

.btn:hover {
    background-color: #34563A;
}

.bg-img {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position-x: center;
}

.pg-5 {
    margin-top: 10em;
}

.navbar-brand {
    width: 5%;
}

.monkey-img {
    opacity: 85%;
    max-width: 500px;
}

.intress {
    font-size: 1.7rem;
}

h2, h3 {
    font-family: 'Lexend Peta', sans-serif;
}

label, p {
    font-family: 'Scope One', serif;
    font-weight: 600;
}

.gdpr {
    font-weight: 500;
    font-size: 0.8rem;
    margin-left: 30%;
    margin-right: 30%;
}

#fname, #lname{
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

.container {
    max-width: 100%;
}

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    height: 25px;
    border: 2px solid;
    outline: none;
    border-radius: 8px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 10px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
  }

  @media (max-width: 599px) {
    .bg-img {
        background-image: url(../img/background2.png);
        background-repeat: no-repeat;
    }

    .navbar-brand {
        width: 15%;
    }

    .gdpr {
        margin-left: 0;
        margin-right: 0;
    }

    .monkey-img {
        max-width: 100%;
    }
}
.coolor-primary{
    background-color: #469354;
}
.coolor-border{
    border-color: black;
}
